.banner {
  background-image: url(/landing/images/bourbon.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  color: #F7F7FF;
  /* text-align: center; */
}

.banner p {
  color: #F7F7FF;
  /* background-color: #291D14;
  margin-right: auto; */
}

.btn-primary {
  display: inline-block;
  background-color: #FE883D;
  color: #F7F7FF;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 12px;
  margin-top: 12px;
}

.btn-primary:hover {
 background-color: #F37B31;
 box-shadow: 0 2px 4px#F7F7FF;
}

.container {
  width: 900px;
  margin: auto;
}
